@font-face {
  font-family: lexend;
  src: url(../font/Lexend-VariableFont_wght.ttf);
}

* {
  font-family: lexend;
}

html,
body {
  background-color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container1 {
  height: 20%;
  display: flex;
  flex-direction: column;
  background-image: url(../Images/background1.jpg);
  /* filter: brightness(); */
  background-size: cover;
  /* opacity: 0.5; */
}

.nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1%;
  width: auto;
  height: 50px;
  font-weight: bold;
  justify-content: space-evenly;
}

.nav a {
  float: left;
  /* display: inline-flex;   */
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
}

.toggle {
  display: none;
  /* visibility: hidden; */
}

a#title {
  font-size: 1.5em;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  justify-content: end;
}

.get-started-button {
  background-color: #a149fe;
  color: aliceblue;
  border: none;
  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  margin-top: -3.5em;
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

.content {
  text-align: center;
  color: aliceblue;
  padding: 10% 20%;
  /* height: 508px; */
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.612);
  font-weight: bold;
  display: block;
  align-items: baseline;
  justify-content: center;
  margin: auto;
}

.header {
  font-size: 3vw;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
}

p.home-text {
  font-size: 16px;
  color: aliceblue;
  margin-top: -25px;
  text-align: left;
  word-wrap: break-word;
}

.get-started-button1 {
  text-decoration: none;
  background-color: #a048fe;
  color: aliceblue;
  /* display: block; */
  float: left;
  width: fit-content;
  height: fit-content;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 25px;
}
.box-1{
  /* border: 2px solid red; */
  display: flex;
  max-width: 1700px;
  margin: auto;
  justify-content: center;
  column-gap: 37px;
  align-items: center;
}
.container2 {
  background-image: url(../Images/background6.jpg);
  background-size: cover;
  padding: 20px;
}

img.girlimage {
  border-radius: 25px;
  width: 33%;
  height: auto;
  min-width: 40%;
margin-left: 30px;}

.content2 {
  border: 2px solid #f2f2f2;
  background-color: #e1ecfe;
  border-radius: 25px;
  /* opacity: 0.8; */
  /* height: 20vw; */
  box-shadow: 1px 1px 100px 0.1px rgba(205, 200, 200, 0.728);
  backdrop-filter: blur(5px);
  max-width: 618px;
  width: 100%;
  padding: 4%;
  /* margin-left: 20px; */
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  /* margin-bottom: 0px; */
  font-weight: bolder;
  margin: 0px;
  /* margin-left: 49px; */
  font-size: 50px;
  /* padding-left: 20px; */
  color: rgb(3, 56, 109);
}

.paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: keep-all;
}

#para-text {
  display: inline-block;
  /* margin-left: 50px; */
  margin-right: 9%;
  font-size: 16px;
  color: rgb(34, 43, 53);

  /* padding: 30px; */
  text-align: left;
  word-break: break-all;
}

.container3 {
  /* height: 700px; */
  background-image: url("../Images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.box-2{
  /* border: 1px solid red; */
  display: flex;
  max-width: 1700px;
  margin: auto;
  justify-content: center;
}
#content3{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#features {
  text-align: center;
  color: aliceblue;
  font-weight: 600;
  /* padding-bottom: 0px; */
}

p#features-text {
  justify-content: center; 
  text-align: center; 
  /* margin-top: 0%; */
  /* padding-top: 0px; */
  color: rgb(247, 247, 247);
  font-weight: bolder;
  font-size: x-large;
  /* width: 50%; */
  max-width: 600px;
  height: auto;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 92%;
  max-width: 100%;
  column-gap: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

[id^="card"] {
  height: fit-content;
  width: 29%;
  max-width: 422px;
  padding: 30px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.625);
  box-shadow: 1px 1px 100px 0.1px rgba(205, 200, 200, 0.728);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

.fCardIcon {
  background-color: #ffffff8e;
  width: 30px;
  height: 30px;
  padding: 5%;
  border-radius: 50%;
  font-size: xx-large;
  color: rgb(132, 67, 197);
  text-align: center;
  /* justify-content: center; */
}

#c-heading {
  padding-top: 20px;
  padding-bottom: 0px;
  color: #2e4664;
  margin: 0px;  
}

#c-text {
  text-align: center;
  /* padding-top: 0px; */
  padding: 20px;
  font-weight: 600;
  margin: 0px;
  max-width: 743px;
  /* margin-top: -3%; */
  color: #4c6783;
}
.box-3{
  /* border: 1px solid red; */
  display: flex;
  max-width: 1700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* padding: 2%; */
}
.container4 {
  background-image: url(../Images/background6.jpg);
  background-size: cover;
  padding: 20px;
}
.box-4{
  /* border: 1px solid red; */
  /* display: flex; */
  max-width: 1700px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

img.features {
  border-radius: 25px;
  width: 38%;
  max-height: 350px;
  height: auto;
  /* margin-left: 20px; */
}

.content4 {
  border: 2px solid #f2f2f2;
  background-color: #e1ecfe;
  box-shadow: 1px 1px 100px 0.1px rgba(205, 200, 200, 0.728);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  opacity: 0.8;
  height: auto;
  max-width: 40%;
  width: 100%;
  margin-left: 20px;
  padding: 70px 97px 80px 58px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h3#Competence {
  font-size: 48px;
  font-weight: bolder;
  text-align: left;
  color: rgb(8, 67, 126);
  padding: 10px 20px;
}

/* p{
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(34, 43, 53);
  padding: 5px;
  text-align: left;
  word-break: break-all;
} */
p#Competence-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: keep-all;
  /* margin: auto; */
  height: inherit;
  word-wrap: break-word;
  color: #7c7e7e;
  max-width: 454px;
  /* width: 30vw; */
  font-weight: bold;
  font-size: medium;
  text-align: left;
  padding: 0px 10px 0px 20px;
}

.progressLabel {
  /* margin: auto; */
  display: flex;
  padding: 0px 120px 0px 20px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 39, 77, 0.539);
}

#progress {
  width: 100%;
}

meter {
  /* width: 100%; */
  width: 85%;
  padding: 0px 10px 0px 20px;
}

meter::-webkit-meter-optimum-value {
  background-color: rgb(245, 94, 40);
}

.container5 {
  background-image: url("../Images/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 10%;
}

.c-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-right: 50px;
}

h3#client {
  font-size: medium;
  font-weight: normal;
  color: rgb(26, 28, 29);
}

p.client-text {
  text-align: center;
  color: rgb(48, 49, 49);
  font-weight: bold;
  margin-top: -10px;
  font-size: xx-large;
}

[id^="client-card"] {
  width: auto;
    /* max-width: 37%; */
    /* height: auto; */
  max-height: 200px;
  padding: 19px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 9px;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.625);
  border-radius: 25px;
}

.client {
  border-radius: 25px;
  /* width: 70%; */
  max-width: 150px;
  padding: 25px;
  /* height: 50%; */
  /* align-items: center; */
}

.container6 {
  background-image: url(../Images/background5.jpg);
  background-size: cover;
  padding: 20px;
}

ul.connect {
  list-style-type: none;
  text-align: center;
  color: #273d5b;
  font-weight: bolder;
  font-size: xx-large;
  padding-bottom: 0px;
}

.con-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  /* padding-bottom: 50px; */
  /* padding-right: 50px; */
}

div#con-card {
  width: 86%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 44px;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.3);
  border-radius: 25px;
}

.stayconnect {
  display: flex;
  justify-content: space-around;
  width: inherit;
  padding-top: 50px;
}

.icons {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: baseline;
  color: rgb(3, 32, 60);
  font-size: 14px;
  font-weight: bold;
}

.stayicon {
  color: rgb(3, 32, 60);
  padding-right: 20px;
  font-size: 20px;
  align-items: baseline;
}

.item {
  color: rgb(3, 32, 60);
  font-weight: bold;
  font-size: small;
  padding-bottom: 2px;
}

.container7 {
  /* height: 300px; */
  background-image: url(../Images/background3.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.box-5{
  /* border: 2px solid red; */
  max-width: 1700px;
  display: flex;
  margin: auto;
    justify-content: center;
    align-items: center;
}
.join{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 100%;
  width: 61%;
  column-gap: 45%;
  padding: 20px;
}

#feedjoin {
  font-weight: 600;
  font-size: larger;
  color: #0d0d0e;
  text-wrap: nowrap;
  /* margin-bottom: 40px; */
}

#joininputwithicon {
  display: flex;
  flex-direction: row;
}

#joinInput {
  display: flex;
  flex-direction: row;
  border: 1px solid beige;
  background-color: rgba(242, 243, 247, 0.3);
  border-radius: 25px;
  padding: 20px;
}

input[type="email"] {
  width: 42vw;
  height: 40px;
  margin-right: 20px;
  border: none;
}

.subscribe {
  border-radius: 0px;
  color: rgb(243, 241, 246);
  background-color: rgb(132, 67, 197);
  height: 40px;
  width: auto;
  font-weight: bold;
  margin: 0;
}

.inputIcon {
  position: relative;
  right: 14%;
  top: 30%;
  color: red;
}

#footer {
  /* height: 300px; */
  background-color: rgb(2, 2, 36);
  color: white;
  padding: 2% 2.5%;
 

}
.box-6{
  width: 100%;
  /* border: 2px solid red; */
  max-width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#footermain {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footeritem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  width: 8%;
}

.footerheader {
  font-weight: bolder;
  font-size: 16px;
  padding-bottom: 10px;
}

.footertext {
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  /* padding: 4px 0px; */
  /* line-height: 2em; */
}

.footerAboutUs {
  margin-right: 20%;
  width: 20%;
  /* line-height: 2em; */
}

@media (max-width: 1024px) {
  .toggle {
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
    margin-top: 20px;
  }

  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
.card{
  min-width: 33.3%;
}
  .box-1{
    flex-direction: column;
    height: fit-content;
    padding: 80px 0px;
  }
  img.girlimage {
    width: 85%;
    height: auto;
    margin-right: 0px;
  }

  .content2 {
    max-width: 79%;
    margin-right: -30px;
    margin-top: 20px;
    
  }
  .paragraph {
    display: block;
    width: 70%;
  }

  [id^="card"] {
    min-width: 33.3%;
    margin-bottom: 20px;
  }
.c-card{
  padding-right: 0px;
}
  #competence-text {
    padding: 10px 20px;
  }

  .c-button {
    margin-top: 16%;
  }

  #c-text {
    margin-top: 0%;
    padding-bottom: 0%;
  }

  .box-3 {
    flex-direction: column;
    height: fit-content;
    padding: 80px 0px;
    align-items: center;
  }

  img.features {
    width: 85%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .content4 {
    max-width: 68%;
    margin-left: 0px;
  }

  .join {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
  }

  i {
    font-size: smaller;
  }

  .item {
    font-size: smaller;
  }
  
  input[type="email"] {
    width: 62vw;
    margin-right: 0px;
  }

  .inputIcon {
    right: 10%;
    top: 15px;
  }

  .subscribe {
    padding-left: 66px;
    padding-right: 66px;
  }

  #footermain {
    flex-wrap: wrap;
    padding: 50px 0px;
  }

  .footeritem {
    width: 40%;
  }

  #footer {
    height: fit-content;
  }

  .footerAboutUs {
    margin: 0;
    line-height: 2em;
  }
}

@media (max-width: 767px) {
  .header {
    font-size: 50px;
    text-align: center;
  }

  .content {
    height: 400px;
    padding: 2%;
    /* width: fit-content; */
  }

  p.home-text {
    text-align: center;
    /* font-size: 1.5em; */
  }

  .content2{
    align-items: center;
  }
  .get-started-button1 {
    float: none;
  }

  [id^="card"] {
    width: 79%;
    padding: 18px;
    /* margin-top: 8%; */
  }

  .client{
    width:45%;
  }
#para-text{
  text-align: center;
}
  .c-button {
    margin-top: 3%;
  }

  .content4 {
    max-width: 83%;
    margin-left: 0px;
    padding: 0px 0px 20px 0px;
  }

  h3#Competence {
    padding: 0px 0px;
    font-size: 45px;
    text-align: center;
  }

  p#Competence-text {
    font-size: large;
    padding: 0px 0px;
    text-align: center;
  }

  .c-card {
    /* width: 70%; */
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
  }

  [id^="client-card"] {
    width: 80vw;
    height: auto;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .stayconnect {
    flex-direction: column;
  }

  .icons {
    justify-content: start;
  }

  #joinInput {
    flex-direction: column;
    margin-left: 37px;
  }

  #feedjoin {
    margin-bottom: 1%;
  }

  input[type="email"] {
    width: 62vw;
    margin-right: 0px;
  }

  .subscribe {
    width: 62vw;
  }

  .inputIcon {
    right: 13%;
    top: 15px;
  }
  div#con-card{
    margin: 80px 10px;
  }
  .con-card{
    padding-bottom: 0px;
  }
  #joinInput {
    flex-direction: column;
  }

  #joininputwithicon {
    padding-bottom: 10px;
  }

  #footermain {
    flex-direction: column;
  }

  .footeritem {
    align-items: center;
  }

  .footerAboutUs {
    align-items: center;
    justify-content: center;
  }

  .footertext {
    text-align: center;
  }
}