@font-face {
  font-family: lexend;
  src: url(../font/Lexend-VariableFont_wght.ttf);
}

* {
  font-family: lexend;
}

html,
body {
  background-color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container1 {
  height: 30%;
  display: flex;
  flex-direction: column;
  background-image: url(../Images/background1.jpg);
  /* filter: brightness(); */
  background-size: cover;
  /* opacity: 0.5; */
}

.nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1%;
  width: auto;
  height: 50px;
  font-weight: bold;
  justify-content: space-evenly;
}

.nav a {
  float: left;
  /* display: inline-flex;   */
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
}

.toggle {
  display: none;
  /* visibility: hidden; */
}

a#title {
  font-size: 1.5em;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  justify-content: end;
}

.get-started-button {
  background-color: #a149fe;
  color: aliceblue;
  border: none;
  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  margin-top: -3.5em;
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

.content {
  text-align: center;
  color: aliceblue;
  padding: 10% 20%;
  height: 450px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.612);
  font-weight: bold;
  display: block;
  align-items: baseline;
  justify-content: center;
  margin: auto;
}

.header {
  font-size: 3vw;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
}

p.home-text {
  font-size: 16px;
  color: aliceblue;
  margin-top: -25px;
  text-align: left;
  word-wrap: break-word;
}

.get-started-button1 {
  text-decoration: none;
  background-color: #a048fe;
  color: aliceblue;
  /* display: block; */
  float: left;
  width: fit-content;
  height: fit-content;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 25px;
}

.container2 {
  background-image: url(../Images/background6.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 10%;
}

img.girlimage {
  border-radius: 25px;
  width: 400px;
}

.content2 {
  border: 2px solid #f2f2f2;
  background-color: #e1ecfe;
  border-radius: 25px;
  opacity: 0.8;
  height: auto;
  width: 450px;
  margin-left: 20px;
  padding: 2% 3% 7% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 50px;
  padding-left: 20px;
  color: rgb(3, 56, 109);
}

.paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: keep-all;
}

#para-text {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(34, 43, 53);
  padding: 5px;
  text-align: left;
  word-break: break-all;
}

.container3 {
  /* height: 700px; */
  background-image: url("../Images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#features {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  padding-bottom: 0px;
}

p#features-text {
  /* justify-content: center;  */
  text-align: center;
  margin-left: 24%;
  margin-top: 0%;
  padding-top: 0px;
  color: rgb(247, 247, 247);
  font-weight: bolder;
  font-size: x-large;
  width: 50%;
  height: auto;
}

.c-button {
  /* padding-top: 10%; */
  margin-top: 12%;
}

.card {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  /* padding-right: 50px; */
}

[id^="card"] {
  height: fit-content;
  width: 20%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.625);
  border-radius: 25px;
}

.fCardIcon {
  background-color: #ffffff8e;
  width: 30px;
  height: 30px;
  padding: 5%;
  border-radius: 50%;
  font-size: xx-large;
  color: rgb(132, 67, 197);
  text-align: center;
  /* justify-content: center; */
}

#c-heading {
  padding-top: 0%;
  padding-bottom: 0px;
  color: #2e4664;
}

#c-text {
  text-align: center;
  padding-top: 0px;
  margin-top: -3%;
  color: #4c6783;
  padding-bottom: 10%;
}

.container4 {
  background-image: url(../Images/background6.jpg);
  display: flex;
  background-size: cover;
  justify-content: left;
  align-items: center;
  padding: 93px 250px;
}

img.features {
  border-radius: 25px;
  width: 30%;
  height: auto;
  margin-left: 20px;
}

.content4 {
  border: 2px solid #f2f2f2;
  background-color: #e1ecfe;
  border-radius: 25px;
  opacity: 0.8;
  height: auto;
  width: 50%;
  margin-left: 20px;
  padding: 80px 50px 80px 100px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h3#Competence {
  font-size: 38px;
  font-weight: bolder;
  text-align: left;
  color: rgb(8, 67, 126);
  padding: 10px 20px;
}

/* p{
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(34, 43, 53);
  padding: 5px;
  text-align: left;
  word-break: break-all;
} */
p#Competence-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: keep-all;
  /* margin: auto; */
  height: inherit;
  word-wrap: break-word;
  color: #7c7e7e;
  /* width: 30vw; */
  font-weight: bold;
  font-size: smaller;
  text-align: left;
  padding: 0px 10px 0px 20px;
}

.progressLabel {
  /* margin: auto; */
  display: flex;
  padding: 0px 10px 0px 20px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 39, 77, 0.539);
}

#progress {
  width: 90%;
}

meter {
  width: 100%;
  padding: 0px 10px 0px 20px;
}

meter::-webkit-meter-optimum-value {
  background-color: rgb(245, 94, 40);
}

.container5 {
  background-image: url("../Images/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 10%;
}

.c-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-right: 50px;
}

h3#client {
  font-size: medium;
  font-weight: normal;
  color: rgb(26, 28, 29);
}

p.client-text {
  text-align: center;
  color: rgb(48, 49, 49);
  font-weight: bold;
  margin-top: -10px;
  font-size: xx-large;
}

[id^="client-card"] {
  width: 27%;
  height: auto;
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 9px;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.625);
  border-radius: 25px;
}

.client {
  border-radius: 25px;
  width: 70%;
  padding: 25px;
  /* height: 50%; */
  /* align-items: center; */
}

.container6 {
  background-image: url(../Images/background5.jpg);
  padding: 1%;
}

ul.connect {
  list-style-type: none;
  text-align: center;
  color: #273d5b;
  font-weight: bolder;
  font-size: xx-large;
  padding-bottom: 0px;
}

.con-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  /* padding-right: 50px; */
}

div#con-card {
  width: 80%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  border: 2px solid beige;
  background-color: rgba(242, 243, 247, 0.3);
  border-radius: 25px;
}

.stayconnect {
  display: flex;
  justify-content: space-around;
  width: inherit;
  padding-top: 50px;
}

.icons {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: baseline;
  color: rgb(3, 32, 60);
  font-size: 14px;
  font-weight: bold;
}

.stayicon {
  color: rgb(3, 32, 60);
  padding-right: 20px;
  font-size: 20px;
  align-items: baseline;
}

.item {
  color: rgb(3, 32, 60);
  font-weight: bold;
  font-size: small;
  padding-bottom: 2px;
}

.container7 {
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../Images/background3.jpg);
  background-position: center;
  background-size: cover;
}

#feedjoin {
  font-weight: 600;
  font-size: large;
  color: #38759b;
  margin-bottom: 40px;
}

#joininputwithicon {
  display: flex;
  flex-direction: row;
}

#joinInput {
  display: flex;
  flex-direction: row;
  border: 1px solid beige;
  background-color: rgba(242, 243, 247, 0.3);
  border-radius: 25px;
  padding: 20px;
}

input[type="email"] {
  width: 30vw;
  height: 40px;
  margin-right: 20px;
  border: none;
}

.subscribe {
  border-radius: 0px;
  color: rgb(243, 241, 246);
  background-color: rgb(132, 67, 197);
  height: 40px;
  width: auto;
  font-weight: bold;
  margin: 0;
}

.inputIcon {
  position: relative;
  right: 14%;
  top: 30%;
  color: red;
}

#footer {
  height: 300px;
  background-color: rgb(2, 2, 36);
  color: white;
  width: 100%;
}

#footermain {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footeritem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  width: 8%;
}

.footerheader {
  font-weight: bolder;
  font-size: 16px;
  padding-bottom: 10px;
}

.footertext {
  font-size: 12px;
  font-weight: 600;
  /* padding: 4px 0px; */
  /* line-height: 2em; */
}

.footerAboutUs {
  margin-right: 20%;
  width: 20%;
  line-height: 2em;
}

@media (max-width: 1024px) {
  .toggle {
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
    margin-top: 20px;
  }

  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .container2 {
    flex-direction: column;
    height: fit-content;
    padding: 80px 0px;
    align-items: center;
  }

  img.girlimage {
    width: 85%;
    height: auto;
  }

  .content2 {
    width: 79%;
    margin-left: 0px;
    margin-top: 20px;
  }

  .card {
    padding: 7%;
  }

  .paragraph {
    display: block;
    width: 70%;
  }

  [id^="card"] {
    min-width: 33.3%;
    width: 40%;
    /* height: 350px; */
  }

  #competence-text {
    padding: 10px 20px;
  }

  .c-button {
    margin-top: 6%;
  }

  #c-text {
    margin-top: 0%;
    padding-bottom: 0%;
  }

  .container4 {
    flex-direction: column;
    height: fit-content;
    padding: 80px 0px;
    align-items: center;
  }

  img.features {
    width: 91%;
    height: auto;
    margin-bottom: 20px;
  }

  .content4 {
    width: 78%;
  }

  .container7 {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
  }

  i {
    font-size: smaller;
  }

  .item {
    font-size: smaller;
  }

  #feedjoin {
    margin-bottom: -5%;
  }

  input[type="email"] {
    width: 62vw;
  }

  .inputIcon {
    right: 10%;
    top: 15px;
  }

  .subscribe {
    padding-left: 66px;
    padding-right: 66px;
  }

  #footermain {
    flex-wrap: wrap;
    padding: 50px 0px;
  }

  .footeritem {
    width: 40%;
  }

  #footer {
    height: fit-content;
  }

  .footerAboutUs {
    margin: 0;
    line-height: 2em;
  }
}

@media (max-width: 767px) {
  .header {
    font-size: 50px;
    text-align: center;
  }

  .content {
    height: 400px;
    padding: 2%;
    /* width: fit-content; */
  }

  p.home-text {
    text-align: center;
    /* font-size: 1.5em; */
  }

  .get-started-button1 {
    float: none;
  }

  [id^="card"] {
    width: 72%;
    padding: 18px;
    /* margin-top: 8%; */
  }

  #c-text {
    width: 40%;
  }

  .c-button {
    margin-top: 3%;
  }

  .content4 {
    width: 91%;
    margin-left: 0px;
    padding: 0px 0px 20px 0px;
  }

  h3#Competence {
    padding: 0px 0px;
    font-size: 45px;
    text-align: center;
  }

  p#Competence-text {
    font-size: large;
    padding: 0px 0px;
    text-align: center;
  }

  .c-card {
    /* width: 70%; */
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
  }

  [id^="client-card"] {
    width: 100%;
    height: auto;
  }

  .stayconnect {
    flex-direction: column;
  }

  .icons {
    justify-content: start;
  }

  #joinInput {
    flex-direction: column;
  }

  #feedjoin {
    margin-bottom: -6%;
  }

  input[type="email"] {
    width: 62vw;
  }

  .subscribe {
    width: 62vw;
  }

  .inputIcon {
    right: 13%;
    top: 15px;
  }

  #joinInput {
    flex-direction: column;
  }

  #joininputwithicon {
    padding-bottom: 10px;
  }

  #footermain {
    flex-direction: column;
  }

  .footeritem {
    align-items: center;
  }

  .footerAboutUs {
    align-items: center;
    justify-content: center;
  }

  .footertext {
    text-align: center;
  }
}